body{
	font-size:20px;
}

#front{
  position:fixed;
  display:flex;
  flex-direction:row; 
  flex-wrap:wrap;
  justify-content:center;
  mix-blend-mode: multiply;
  
}
.circle1{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display:inline-block;
  background-color:green;
}

.circle2{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display:inline-block;
  background-color:yellow;
}

.circle3{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display:inline-block;
  background-color:pink;
}

.circle4{
  width: 220px;
  height: 220px;
  border-radius: 50%; 
  display:inline-block;
  background-color:#ff00b3;
}

.circle5{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display:inline-block;
  background-color:blue;
}

.circle6{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display:inline-block;
  background-color:lime;
}

#back{
  mix-blend-mode: multiply;
  display:flex;
  flex-direction:row; 
  flex-wrap:wrap;
  justify-content:center;

}

.square1{
  width: 200px;
  height: 200px;
  background-color:#2500ff;
  display:inline-block;
  padding:10px;
  margin:0px;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.square1:hover {
  width: 200px;
  height: 200px;
  transform: translate(0,220px);
}

.square2{
  width: 200px;
  height: 200px;
  background-color:lime;
  display:inline-block;
  padding:10px;
  margin:0px;
}

.square3{
  width: 200px;
  height: 200px;
  background-color:red;
  display:inline-block;
  padding:10px;
  margin:0px;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.square3:hover {
  /* background-color:lime; */
  width: 200px;
  height: 200px;
  transform: translate(-220px,0);
}

.square4{
  width: 200px;
  height: 200px;
  background-color:yellow;
  display:inline-block;
  padding:10px;
  margin:0px;
}

.square4{
  width: 200px;
  height: 200px;
  background-color:yellow;
  display:inline-block;
  padding:10px;
  margin:0px;
}

.square5{
  width: 200px;
  height: 200px;
  background-color:#ff00b3;
  display:inline-block;
  padding:10px;
  margin:0px;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.square5:hover {
  width: 200px;
  height: 200px;
  transform: translate(0,220px);
}

.square6{
  width: 200px;
  height: 200px;
  background-color:pink;
  display:inline-block;
  padding:10px;
  margin:0px;
}





