/* div {
    position: absolute;
    left:40px;
    top:40px;
    width:100px;
    height: 100px;
    background-image: linear-gradient(to right,  #ffc6a6, #ffbfef); opacity: 0.6;
    mix-blend-mode: multiply;
    } */
@keyframes color{
  0%{
    background-color:rgb(255, 217, 0);
  }
  50%{
    background-color: rgb(187, 255, 0);
  }
 100%{
   background-color: #ff9ac4;
 }
}

.triangle-topleft {
      width: 0;
      height: 0;
      border-top: 80px dotted rgb(187, 255, 0);
      border-right: 80px dotted #66ff00c2;
      animation: color 2s infinite;
    }
  

.row-pattern2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}