body{
  font-size:20px;
  width: 1000px;
  height: 1500px;
  background-color: rgb(10, 22, 177);
}

#main{
  position:absolute;
  display:flex;
  flex-direction:row; 
  flex-wrap:wrap;
  justify-content:center;
  
}

@keyframes stretch {
  10% {
    /* transform: scale(0.5); */
    background-color: rgb(10, 22, 177, 0.2);
    mix-blend-mode: multiply;
   
    /* border-radius: 100%; */
  }

  50%{
    mix-blend-mode: multiply;
  }

  100% {
    transform: scale(1.2);
    mix-blend-mode: multiply;
    background-color: #ffff0099;
  }
}

.circle{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display:inline-block;
  padding:0px;
  /* background-color:rgb(10, 22, 177); opacity:20%; */
  animation:stretch 4s ease-out infinite alternate ;
}




