* {
	box-sizing: border-box;
}
.main{
	width: 80%;
	margin: 100px auto;
	padding: 20px;
}

body{

	font-family: sans-serif;
	line-height: 1.5em;
	background:white;
}

h1{
	margin-top: 10px;
	padding:20px;
	font-size: 4em;
	font-style: bold;
	text-align: center;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #4d00ff;
}

h2{
	margin:auto;
	padding:20px;
	font-size: 2em;
	text-align: center;	
}

a{
	color: #0000ff;
	text-decoration: none;
}

a:hover{
	color:red;
	text-decoration: none;
}


