body{
	background-color: #FFFF67;
}

#st{
  justify-content:center;
  align-items: center;
  margin:auto;
  position:fixed;
  display:flex;
  flex-direction:row; 
  flex-wrap:wrap;
}

.square{
	background-color:#CB88FF;
	width:100px;
	height:100px;
	margin:50px;
    transition: transform .8s ease-in-out; 
    transform: scale(1.1);
}



.square:hover ~ div{
    /* -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg); */
    width:70px;
    height:70px;
    border-radius: 50%;
    transform:rotate(45deg);
    border-style: solid;
    border-color: #00FF6D;
    border-width: 15px;
}

/* div:hover ~ div {
    background-color: red;
    transform: rotate(45deg);
    transition: all 500ms ease;
  }
  
  div:hover ~ div > div {
    background-color: yellow;
    transform: rotate(-90deg);
    transition: all 500ms ease;
  } */

