/** {
	box-sizing: border-box;
}*/
.main{
	width: 2000px;
	margin: 0px;
	padding: 10px;
    margin-left:900px;
    margin-right:900px;
}


body{
    justify-content: center;
	font-family: sans-serif;
	line-height: 1.5em;
	background:white;
	font-size: 1em;
}

h1{
	margin: 20px;
	font-size: 3em;
	font-style: bold;
}

img{

width:1700px;

}

ul{
	list-style: none;
}
 
ul li{
	color: black;
	font-size:50px;
	padding:10px;
}

a:link{
	color: #0000ff;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


