*{

  font-family: arial, sans-serif;
  font-size: 30px,
  padding-left:8px;
  padding-right:8px;
  margin:20px;
  color:black;

}

.sketch1{
  top: 0px;
  right:0px;
  width:900px;
  height:900px;
}

.sketch2{
  position: absolute;
  top: 0px;
  width:900px;
  height:900px;
  right: 0px;
  left: 980px;
}

.sketch3{
  position: absolute;
  padding-right:20px;
  top: 0px;
  width:900px;
  height:900px;
  right: 0px;
  left: 1900px;
}

img{

width:900px;

}