
a:link{
   text-decoration:none;
   color:red;
}

a:hover{
  background:blue;
  color:white;
}

#main{

  font-family: arial, sans-serif;
  width:1000px;
  padding:20px;
  margin-top:50px;
  margin-left:400px;
  margin-right:400px;
  color:black;

}

h1{
  font-size: 60px;
}

h2{
  font-size:40px;
}

h3{
  padding:0px;
  font-size:30px;
}

a:hover{

}

.sketch1{
   padding-top:40px;
   padding-bottom:40px;
}

.sketch2{
   padding-top:40px;
   padding-bottom:40px;
 }

.sketch3{
   padding-top:40px;
   padding-bottom:40px;
}

img{

width:2000px;

}