
* {
	box-sizing: border-box;

}

#flow{
	font-family: 'Ubuntu', sans-serif;
	position:fixed;
	line-height:1;
	padding:20px;
	font-size: 3.5em;
	text-align:center;
  }

#projects{
    position:relative;
    left:600px;
    top:auto;
    bottom:245px;
}

#exercises{
    position:relative;
    left:auto;
    top:80px;
}

.main{
	width: 80%;
	margin: 100px auto;
	padding: 20px;
}


body{
	font-family: sans-serif;
	line-height: 1.5em;
	background:white;
}

.logo{
	font-family: 'Ubuntu', sans-serif;
	top:40px;
	line-height:1.5;
	position:relative;
	color: #4d00ff;
	font-size:3.5em;
	text-align:center;
}
  
  
h1{
	font-family:'Oswald', sans-serif;
	-webkit-text-fill-color:transparent; 
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #4d00ff; /* Will override color (regardless of order) */
	text-decoration: none;
}

h2{
	font-family: 'Ubuntu', sans-serif;
	color: #4d00ff;
	margin:auto;
	position:relative;
	left:14px;
	padding-bottom:20px;
	font-size: 2.5em;
	text-align:left;
	display: block;	
}

a{  
    font-size: 2em;
    line-height:1.1;
	color:#4d00ff;
	text-decoration:none;
	
}

a:hover{
	-webkit-text-fill-color: #4d00ff; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #4d00ff;
	text-decoration:red underline wavy;
	cursor: url(e2fea55c27f8fbb0cc46ae8090886587.png), auto;
}

ul {
    padding-left: 18px;
    list-style: none;
  }

  ul li {
    color: #CCC;
  }





