body{
	font-size:20px;
}

#front{
  position:fixed;
  display:flex;
  flex-direction:row; 
  flex-wrap:wrap;
  justify-content:center;
  
}
.circle1{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display:inline-block;
  background-color:green;
}

.circle2{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display:inline-block;
  background-color:yellow;
}

.circle3{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display:inline-block;
  background-color:pink;
}

.circle4{
  width: 220px;
  height: 220px;
  border-radius: 50%; 
  display:inline-block;
  background-color:#ff00b3;
}

.circle5{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display:inline-block;
  background-color:red;
}

.circle6{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display:inline-block;
  background-color:lime;
}

#back{
  mix-blend-mode: multiply;
  display:flex;
  flex-direction:row; 
  flex-wrap:wrap;
  justify-content:center;

}

.square1{
  width: 160px;
  height: 160px;
  background-color:#2500ff;
  display:inline-block;
  padding:10px;
  margin:0px;
  border-style: solid;
  border-width: 20px;
  border-color: pink;
}
}

.square2{
  width: 200px;
  height: 200px;
  background-color:lime;
  display:inline-block;
  padding:10px;
  margin:0px;
}

.square3{
  width: 200px;
  height: 200px;
  background-color:red;
  display:inline-block;
  padding:10px;
  margin:0px;
}

.square4{
  width: 200px;
  height: 200px;
  background-color:yellow;
  display:inline-block;
  padding:10px;
  margin:0px;
}

.square4{
  width: 160px;
  height: 160px;
  background-color:yellow;
  display:inline-block;
  padding:10px;
  margin:0px;
  border-style: solid;
  border-width: 20px;
  border-color: pink;
}

.square5{
  width: 200px;
  height: 200px;
  background-color:#ff00b3;
  display:inline-block;
  padding:10px;
  margin:0px;
}

.square6{
  width: 200px;
  height: 200px;
  background-color:pink;
  display:inline-block;
  padding:10px;
  margin:0px;
}





