* {
	box-sizing: border-box;
}

.border{
	border-style:dotted;
	border-color:red;
	height:260px;
	text-align: center;
}
.main{
	width: 30%;
	margin: 10px auto;
	padding: 0px;

}

body{
	line-height: 1.5em;
	background:white;

}

h1{
	font-family:'Oswald', sans-serif;
	text-align: center;
	padding:20px;
	margin-top:100px;
	text-align:center;
	font-size: 3.5em;
	font-style: bold;
	color:#4d00ff; 
}

h2{
	font-family: 'Ubuntu', sans-serif;
	margin:auto;
	padding:20px;
	font-size: 2.5em;
	text-align:center;
	display: block;	
}

a{
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #4d00ff;
	text-decoration: none;
	
}

a:hover{
	-webkit-text-fill-color: #4d00ff; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #4d00ff;
	text-decoration: none;
}