* {
	box-sizing: border-box;
}

body {
	background: #DADADA;
}


@keyframes move{
	10%{
		transform: rotate(5deg) scale(0.8);  
	}

	40% {
		transform: rotate(-5deg) scale(0.8);  
	}

	70%{
		transform: rotate(5deg) scale(0.8);  
	}
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
	border: solid black 5px;
}

.canvas {
		background: white;
}

	
.square{
    width: 200px;
    height:300px;
	background: #31a35c;
	transform: skew(-deg);
	position: absolute;
	top: 100px;
	left: 400px;
    box-shadow: 0px 10px 10px #c8c8c8;
}

.square2{
	width: 200px;
	height:30px;
	background: #ebe8e8;
	transform: skew(45deg);
	position: absolute;
	top: 380px;
	left: 450px;
}

.square3{
	width: 200px;
	height:20px;
	background: #f6ebae;
	position: absolute;
	top: 410px;
	left: 464px;
}

.square8{
	width: 203px;
	height:8px;
	background: #e2e9e3;
	position: absolute;
	top:93px;
	left:392px;
	border-radius:6px;
	transform:skewX(61deg);
	-ms-transform: skewX(61deg); 
	-webkit-transform: skewX(61deg); 
}

.square4{
	width: 200px;
	height:20px;
	background: #f6ebae;
	position: absolute;
	top: 410px;
	left: 464px;
	box-shadow: 0px 5px 7px #dfdfdf;
}
	 
.square5{
	width: 60px;
	height:20px;
	background: #e5dcaa;
	position: absolute;
	top: 380px;
	left:405px;
	-ms-transform: skewy(45deg); /* IE 9 */
	-webkit-transform: skewy(45deg); /* Safari */
	transform: skewy(45deg); /* Standard syntax */
	box-shadow: 0px 5px 7px #c8c8c8;
}

.square6{
	width: 13px;
	height:250px;
	background: #214327;
	position: absolute;
	top: 98px;
	left:387px;
	transform:skewY(25deg);
	-ms-transform: skewy(25deg); 
	-webkit-transform: skewy(25deg); 
}
	
.egg{
	display: block;
	position: absolute;
	width: 126px;
	height: 160px;
	top: 260px;
	left: 310px;
	background-color: #60a570;
	border-radius: 50% 50% 70% 70% / 80% 80% 40% 40%;
	box-shadow: 0px 9px 7px #dfdfdf;
}
	
.egg1{
	display: block;
	position: absolute;
	width: 70px;
	height: 60px;
	top: 230px;
	left: 338px;
	transform: rotate(180deg) scale(0.7);
	background-color: #60a570;
	border-radius: 50% 50% 70% 70% / 80% 80% 40% 40%;
}

.circle1{
	width:25px;
	height:25px;
	left:260px;
	top:130px;
	position: absolute;
	background:#ffdf00;
	border-radius: 50%;
	transition: transform 1s ease-in-out;
}

.circle1:hover{
	transform:translate(4px,0);
}

.circle2{
	width:25px;
	height:25px;
	left:330px;
    top:150px;
	position: absolute;
	background:#ffdf00;
	border-radius: 50%;
	transition: transform 1s ease-in-out;
}

.circle2:hover{
	transform:translate(3px,0);
}

.circle3{
	width:25px;
	height:25px;
	left:316px;
	top:180px;
	position: absolute;
	background:#ffdf00;
	border-radius: 50%;
	transition: transform 1s ease-in-out;
}

.circle3:hover{
	transform:translate(-3px,0);
}

.circle4{
	width:25px;
	height:25px;
	left:440px;
	top:160px;
	position: absolute;
	background:#ffdf00;
	border-radius: 50%;
	transition: transform 1s ease-in-out;
}

.circle4:hover{
	transform:translate(4px,0);
}

.circle5{
	width:25px;
	height:25px;
	left:390px;
	top:180px;
	position: absolute;
  	background:#ffdf00;
	border-radius: 50%;
	transition: transform 1s ease-in-out;
}

.circle5:hover{
	transform:translate(3px,0);
}
	
.circle6{
	width:25px;
	height:25px;
	left:405px;
	top:130px;
	position: absolute;
	background:#ffdf00;
	border-radius: 50%;
	transition: transform 1s ease-in-out;
}

.circle6:hover{
	transform:translate(3px,0);
}
	
.long1 {
	width: 12px;
	height: 130px;
	position:absolute;
	left:400px;
	top:157px;
    border:3px solid #6e6e15;
    border-left:transparent;
	border-radius:50%;
	transform:rotate(50deg);
}

.long2 {
	width: 12px;
	height: 130px;
	position:absolute;
	left:380px;
	top:140px;
    border:3px solid #6e6e15;
    border-left:transparent;
	border-radius:50%;
	transform:rotate(30deg);
}

.long3 {
	width: 12px;
	height: 140px;
	position:absolute;
	left:310px;
	top:130px;
    border:3px solid #6e6e15;
    border-left:transparent;
	border-radius:50%;
	transform:rotate(-40deg);
}

.long4 {
	width: 12px;
	height: 100px;
	position:absolute;
	left:340px;
	top:180px;
    border:3px solid #6e6e15;
    border-left:transparent;
	border-radius:50%;
	transform:rotate(-34deg);
}

.long5 {
	width: 12px;
	height: 100px;
	position:absolute;
	left:350px;
	top:160px;
    border:3px solid #6e6e15;
    border-left:transparent;
	border-radius:50%;
	transform:rotate(-20deg);
}

.long6 {
	width: 12px;
	height: 90px;
	position:absolute;
	left:380px;
	top:190px;
    border:3px solid #6e6e15;
    border-left:transparent;
	border-radius:50%;
	transform:rotate(20deg);
}

.egg2{
	display: block;
	position: absolute;
	width: 60px;
	height:20px;
	top: 239px;
	left: 343px;
	transform: rotate(180deg) scale(0.7);
	background-color: #415d47;
	border:3px solid #9ec89b;
	border-radius: 50% 

}


.box1 {
	width: 92px;
	height:130px;
	position:absolute;
	left:290px;
	top:290px;
	background: #000;opacity:0.2;
	border-radius: 20px 20px 20px 20px;

}

.box3 {
	width:60px;
    height:15px;
	position:absolute;
	left:305px;
	top:370px;
	border-radius: 60px 60px 0px 0px;
	background: #939393;
	transform: skewX(1deg);
}
  
.box5 {
	width:69px;
    height:30px;
	position:absolute;
	left:301px;
	top:382px;
	border-radius: 0px 0px 0px 0px;	
	border-bottom: 30px solid #555454;
    border-left: 5px solid transparent;
    border-right:5px solid transparent;
}
  
.box2 {
	width: 92px;
	height:13px;
	position:absolute;
	left:290px;
	top:406px;
	background: #0b038d;
	border-radius: 0px 0px 20px 20px;
	box-shadow: 0px 9px 7px #9f9f9f;

}

.doll{
	display: block;
	position: absolute;
	width:50px;
    height:35px;
	left:306px;
	top:310px;
	transform:scale(0.8);
	background-color: #f8fffa;
	border-radius: 50% 50% 90% 70% / 80% 80% 90% 50%;
	animation: move 0.82s infinite;
}

.doll1{
	display: block;
	position: absolute;
	width:30px;
    height:45px;
	left:298px;
	top:300px;
	transform:scale(0.6) rotate(30deg);
	background-color: #000000;
	border-radius: 50%;	
}

.doll2{
	display: block;
	position: absolute;
	width:40px;
    height:25px;
	left:310px;
	top:300px;
	transform:scale(0.8)rotate(-4deg);
	background-color: #000000;
	border-radius: 50%;
}

.doll3{
	display: block;
	position: absolute;
	width:40px;
    height:30px;
	left:328px;
	top:300px;
	transform:scale(0.3)rotate(55deg);
	background-color: #000000;
	border-radius: 50%;
}

.doll4{
	display: block;
	position: absolute;
	width:40px;
    height:30px;
	left:328px;
	top:295px;
	transform:scale(0.2)rotate(55deg);
	background-color: #ffffff;
	border-radius: 50%;
}

.doll5{
	display: block;
	position: absolute;
	width:45px;
    height:29px;
	left:299px;
	top:305px;
	transform:scale(0.2);
	background-color: #ffffff;
	border-radius: 50%;
}

.doll6{
	display: block;
	position: absolute;
	width:45px;
    height:29px;
	left:299px;
	top:300px;
	transform:scale(0.2);
	background-color: #ffffff;
	border-radius: 50%;
}

.doll7{
	display: block;
	position: absolute;
	width:20px;
    height:20px;
	left:311px;
	top:306px;
	transform:scale(0.3);
	background-color: #fe3b3b;
	border-radius: 50%;
}

.doll8{
	display: block;
	position: absolute;
	width:20px;
    height:12px;
	left:320px;
	top:295px;
	transform:scale(0.7);
	background-color: #fe3b3b;
	border-radius: 50%;
}

.body1 {
	width:35px;
    height:30px;
	position:absolute;
	left:314px;
	top:340px;
	border-radius: 3px 3px 3px 3px;	
	border-bottom: 30px solid #000000;
    border-left: 4px solid transparent;
    border-right:4px solid transparent;
}

.body2 {
	width:35px;
    height:30px;
	position:absolute;
	left:314px;
	top:340px;
	transform:scale(0.25);
	background-color: #f8fffa;
	border-radius: 50% 50% 90% 70% / 80% 80% 90% 50%;
}

.body3 {
	width:35px;
    height:30px;
	position:absolute;
	left:333px;
	top:336px;
	transform:scale(0.23) rotate(-40deg);
	background-color: #f8fffa;
	border-radius: 50% 50% 90% 70% / 80% 80% 90% 50%;
}